.chat__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 5;
}

.chat-box {
    width: 75vw;
    height: calc(100vh - 110px); /* viewport minus header */
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 0px 20px 20px 20px;
    margin-top: 110px;
}

@media (max-width: 666px) {
    .chat-box {
      width: 100vw;
      margin-top: 78px;
      height: 100vh;
    }
  }
