.message-board {
    height: 100%;
    max-height: 65vh; 
    overflow-y: auto; 
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 8px 8px 0px 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.message {
    padding: 10px 15px;
    border-radius: 8px;
    max-width: 80%;
    word-wrap: break-word;
    font-size: 1rem;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-all;
}

.message.sent {
    align-self: flex-end;
    background-color: #007bff;
    color: white;
}

.message.received {
    align-self: flex-start;
    background-color: #444;
    color: white;
}

.no-messages {
    text-align: center;
    opacity: 0.6;
    font-size: 1rem;
}
