.particle-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1; 
}

.particle {
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 153, 0, 0.849);
    /* OG     background: rgba(0, 123, 255, 0.6); */
    filter: blur(3px);
    pointer-events: none;
    transition: transform 0.05s linear;
}
